.brandIcons {
  background-color: #E2E8DD;
  padding: 40px 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.brandIcons h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #768182;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.brandsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brandsItem {
  margin: 10px;
}

.brandsImg {
  max-width: 120px;
  height: auto;
  transition: transform 0.3s;
}

.brandsItem:hover .brandsImg {
  transform: scale(1.1);
}
